# Frontend dependencies
frontend/node_modules/

# Environment variables
frontend/.env
frontend/.env.local
frontend/.env.*.local

# Build files
frontend/dist/
frontend/build/

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*